/* Estilos gerais */
  

  
  /* Estilos do cabeçalho */
  


  

  
  


  
  /* Estilos da tabela de tickets */
  
  .container {
    margin: 2rem auto;
    max-width: 960px;
    padding: 0 1rem;
  }
  
  .main__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th {
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    text-align: left;
  }
  
  table td {
    background-color: #F5F5F5;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  table td a {
    color: #337ab7;
  }
  
  
  table td.status--open {
    color: green;
  }
  
  table td.status--in-progress {
    color: orange;
  }
  
  table td.status--closed {
    color: red;
  }
  
  /* Estilos do rodapé */

